// https://github.com/chriskempson/tomorrow-theme
highlight-background = #2d2d2d
highlight-current-line = #393939
highlight-selection = #515151
highlight-foreground = #cccccc
highlight-comment = #999999
highlight-red = #f2777a
highlight-orange = #f99157
highlight-yellow = #ffcc66
highlight-green = #99cc99
highlight-aqua = #66cccc
highlight-blue = #6699cc
highlight-purple = #cc99cc

$code-block
  background: highlight-background
  margin: 0 article-padding * -1
  padding: 15px article-padding
  border-style: solid
  border-color: color-border
  border-width: 1px 0
  overflow: auto
  color: highlight-foreground
  line-height: font-size * line-height
  border-radius: code-border-radius
  background: #333;
  margin: 1px 10px 1px 10px
  border: 3px solid #EEEEEE;

$line-numbers
  color: #666
  font-size: 0.85em

.article-entry
  pre, code
    font-family: font-mono
  code
    background: color-background
    text-shadow: 0 1px #fff
    padding: 0 0.3em
  pre
    @extend $code-block
    code
      background: none
      text-shadow: none
      padding: 0
  .highlight
    @extend $code-block
    pre
      border: none
      margin: 0
      padding: 0
    table
      margin: 0
      width: auto
    td
      border: none
      padding: 0
    figcaption
      clearfix()
      font-size: 0.85em
      color: highlight-comment
      line-height: 1em
      margin-bottom: 1em
      a
        float: right
    .gutter pre
      @extend $line-numbers
      text-align: right
      padding-right: 20px
    .line
      height: font-size * line-height

st {
color:#000;
font-size:85%;
max-height:500px;
margin-bottom:80px;
}

.gist-file {
font-size:.8em!important;
max-height:500px;
}

.file-data {
max-height:480px;
}

table.lines {
width:100%;
}

.gist pre,
.gist code {
font: inherit !important;
line-height:inherit !important;
white-space: pre;
}

.gist div {
margin:0;
padding:0;
}

.gist .gist-file {
border:1px solid #dedede;
font-family:Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
margin-bottom:1em;
}

.gist .gist-file .gist-meta {
overflow:hidden;
font-size:85%;
color:#666;
background-color:#eaeaea;
padding:.5em;
}

.gist .gist-file .gist-meta a {
color:#369;
}

.gist .gist-file .gist-meta a:visited {
color:#737;
}

.gist .gist-file .gist-data {
overflow:auto;
word-wrap:normal;
background-color:#f8f8ff;
border-bottom:1px solid #ddd;
font-size:100%;
}

.gist .gist-file .gist-data pre {
font-family:'Bitstream Vera Sans Mono', Courier, monospace;
background:transparent!important;
border:none!important;
margin:0!important;
padding:.25em .5em .5em!important;
}

.gist .gist-file .gist-data .gist-highlight {
background:transparent!important;
}

.gist .gist-file .gist-data .gist-line-numbers {
background-color:#ececec;
color:#aaa;
border-right:1px solid #ddd;
text-align:right;
}

.gist .gist-file .gist-data .gist-line-numbers span {
clear:right;
display:block;
}

.gist-syntax {
background:#fff;
}

.gist-syntax .err {
color:#a61717;
background-color:#e3d2d2;
}

.gist-syntax .cp {
color:#999;
font-weight:700;
}

.gist-syntax .cs {
color:#999;
font-weight:700;
font-style:italic;
}

.gist-syntax .gd {
color:#000;
background-color:#fdd;
}

.gist-syntax .gd .x {
color:#000;
background-color:#faa;
}

.gist-syntax .ge {
color:#000;
font-style:italic;
}

.gist-syntax .gi {
color:#000;
background-color:#dfd;
}

.gist-syntax .gi .x {
color:#000;
background-color:#afa;
}

.gist-syntax .go {
color:#888;
}

.gist-syntax .gs {
font-weight:700;
}

.gist-syntax .gu {
color:#aaa;
}

.gist-syntax .nb {
color:#0086B3;
}

.gist-syntax .ni {
color:purple;
}

.gist-syntax .nt {
color:navy;
}

.gist-syntax .w {
color:#bbb;
}

.gist-syntax .sr {
color:#009926;
}

.gist-syntax .ss {
color:#990073;
}

.gist-syntax .c,.gist-syntax .cm,.gist-syntax .c1 {
color:#998;
font-style:italic;
}

.gist-syntax .k,.gist-syntax .o,.gist-syntax .kc,.gist-syntax .kd,.gist-syntax .kp,.gist-syntax .kr,.gist-syntax .ow {
color:#000;
font-weight:700;
}

.gist-syntax .gr,.gist-syntax .gt {
color:#a00;
}

.gist-syntax .gh,.gist-syntax .bp {
color:#999;
}

.gist-syntax .gp,.gist-syntax .nn {
color:#555;
}

.gist-syntax .kt,.gist-syntax .nc {
color:#458;
font-weight:700;
}

.gist-syntax .m,.gist-syntax .mf,.gist-syntax .mh,.gist-syntax .mi,.gist-syntax .mo,.gist-syntax .il {
color:#099;
}

.gist-syntax .s,.gist-syntax .sb,.gist-syntax .sc,.gist-syntax .sd,.gist-syntax .s2,.gist-syntax .se,.gist-syntax .sh,.gist-syntax .si,.gist-syntax .sx,.gist-syntax .s1 {
color:#d14;
}

.gist-syntax .na,.gist-syntax .no,.gist-syntax .nv,.gist-syntax .vc,.gist-syntax .vg,.gist-syntax .vi {
color:teal;
}

.gist-syntax .ne,.gist-syntax .nf {
color:#900;
font-weight:700;
}

pre
  .comment
  .title
    color: highlight-comment
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: highlight-red
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color: highlight-green
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: highlight-green
  .css .hexcolor
    color: highlight-aqua
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: highlight-blue
  .keyword
  .javascript .function
    color: highlight-purple
